.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 120px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-text-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  text-align: center;

  @include media(desktop) {
  }
}

.contact-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.contact-link {
  background: #74d4df;
  border-radius: 16px;
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  color: #3f3f3f;
  word-break: break-all;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 20px;
    gap: 4px;
    max-width: max-content;
  }
}

.arrow-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}
