.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.faq-container {
  padding: 0;

  @include media(desktop) {
  }
}

.faq-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: 64px;
  }
}

.faq-text-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0;
    max-width: 749px;
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-subtitle {
  text-align: left;
  margin-bottom: 24px;

  @include media(desktop) {
    max-width: max-content;
    margin-left: 0;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.faq-list-item {
  border: 1px solid #74d4df;
  padding: 19px 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 749px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  color: #fff;
  text-align: left;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #dfdfdf;
  max-width: 287px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    max-width: 693px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(-90deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}

.faq-img {
  @include media(desktop) {
    min-width: 563px;
  }
}
