.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 564px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  position: relative;

  @include media(desktop) {
    padding-top: 544px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
    padding: 0 80px;
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 881px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.hero-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;

  @include media(desktop) {
    font-size: 72px;
  }
}

.hero-top-main-title {
  margin-left: 17px;

  @include media(desktop) {
  }
}

.hero-bottom-main-title {
  text-align: right;

  @include media(desktop) {
  }
}

.hero-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
  max-width: 292px;
  margin-left: auto;

  @include media(desktop) {
    font-size: 18px;
    max-width: 287px;
    position: absolute;
    top: 15px;
    right: 77px;
  }
}

.hero-side-text-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 110px;
  position: absolute;
  top: 96px;
  left: -8px;

  @include media(desktop) {
    top: auto;
    bottom: 24px;
    left: 60px;
  }
}

.hero-side-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #dfdfdf;
  transform: rotate(-90deg);

  @include media(desktop) {
  }
}
