.interaction-section {
  @include media(desktop) {
  }
}

.interaction-bg-wrapper {
  padding-top: 104px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.interaction-container {
  padding: 0;

  @include media(desktop) {
  }
}

.interaction-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 112px;
  }
}

.interaction-text-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0;
    max-width: 624px;
  }
}

.interaction-title {
  @include media(desktop) {
  }
}

.interaction-subtitle {
  text-align: left;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.interaction-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #dfdfdf;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.interaction-list-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #dfdfdf;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.interaction-list {
  list-style-type: disc;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  color: #74d4df;

  @include media(desktop) {
  }
}

.interaction-list-item {
  @include media(desktop) {
  }
}

.interaction-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #74d4df;

  @include media(desktop) {
    font-size: 18px;
  }
}

.interaction-img {
  @include media(desktop) {
    min-width: 640px;
  }
}
