<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">[What the Game Is]</h2>
      <p class="section-subtitle about-subtitle">
        Signal Foundry places players inside a living signal network.
      </p>
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <p class="about-text">
            Your job isn't to rush through solutions, but to actually watch how
            energy flows, figure out where it breaks, and see how systems react
            when you change things.
          </p>
          <p class="about-text about-bottom-text">
            You get better by actually understanding how things work together,
            not just randomly trying stuff until something works.
          </p>
          <div class="about-text-bottom-wrapper">
            <div class="about-bottom-wrapper">
              <p class="about-bottom-wrapper-number">150+</p>
              <p class="about-bottom-wrapper-text">Modular Nodes</p>
            </div>
            <div class="about-bottom-wrapper">
              <p class="about-bottom-wrapper-number">3,000+</p>
              <p class="about-bottom-wrapper-text">Connection Possibilities</p>
            </div>
          </div>
          <img
            class="about-img1"
            src="./img/about/about-img1-mob.png"
            alt="Screenshot of the game"
            width="171"
            height="208"
            loading="lazy"
          />
        </div>
        <div class="about-top-img-wrapper">
          <picture>
            <source
              srcset="./img/about/about-img2-desk.png"
              media="(min-width: 1440px)"
              width="416"
              height="560" />
            <source
              srcset="./img/about/about-img2-mob.png"
              width="343"
              height="460" />
            <img
              class="about-img2"
              src="./img/about/about-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="460"
              loading="lazy"
          /></picture>
        </div>
        <div class="about-bottom-img-wrapper">
          <picture>
            <source
              srcset="./img/about/about-img3-desk.png"
              media="(min-width: 1440px)"
              width="293"
              height="343" />
            <source
              srcset="./img/about/about-img3-mob.png"
              width="343"
              height="447" />
            <img
              class="about-img3"
              src="./img/about/about-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="447"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
