<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <div class="faq-text-wrapper">
          <h2 class="section-title faq-title">[FAQ]</h2>
          <p class="section-subtitle faq-subtitle">
            Curious? We’ve Got You Covered
          </p>
          <ul class="faq-list">
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Is Signal Foundry a puzzle game?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-down"></use></svg
                ></span>
              </button>
              <p class="faq-bottom-text">
                It’s more about system design than fixed puzzles.
              </p>
            </li>
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Are there time limits?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-down"></use></svg
                ></span>
              </button>
              <p class="faq-bottom-text">
                No. The game encourages careful planning.
              </p>
            </li>
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Do systems change over time?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-down"></use></svg
                ></span>
              </button>
              <p class="faq-bottom-text">
                Yes. Signal behavior evolves as networks grow.
              </p>
            </li>
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Can there be multiple solutions?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-down"></use></svg
                ></span>
              </button>
              <p class="faq-bottom-text">
                Absolutely. Efficiency depends on design choices.
              </p>
            </li>
            <li class="faq-list-item">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Is this game suitable for casual players?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-arrow-down"></use></svg
                ></span>
              </button>
              <p class="faq-bottom-text">
                Yeah, anyone can play it, but you'll really enjoy it if you like
                thinking through problems systematically.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/faq/faq-img-desk.png"
            media="(min-width: 1440px)"
            width="563"
            height="550" />
          <source srcset="./img/faq/faq-img-mob.png" width="375" height="425" />
          <img
            class="faq-img"
            src="./img/faq/faq-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="425"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
