<section class="gallery-section section" id="gallery">
  <div class="gallery-bg-wrapper">
    <div class="container gallery-container">
      <div class="gallery-content-wrapper">
        <h2 class="section-title gallery-title">[Visual Language]</h2>
        <p class="section-subtitle gallery-subtitle">
          We focused on making things clear and easy
        </p>
        <ul class="gallery-list">
          <li class="gallery-slide">
            <picture>
              <source
                srcset="./img/gallery/gallery-img1-desk.png"
                media="(min-width: 1440px)"
                width="713"
                height="760" />
              <source
                srcset="./img/gallery/gallery-img1-mob.png"
                width="343"
                height="418" />
              <img
                class="gallery-img"
                src="./img/gallery/gallery-img1-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="418"
                loading="lazy"
            /></picture>
          </li>
          <li class="gallery-slide">
            <picture>
              <source
                srcset="./img/gallery/gallery-img2-desk.png"
                media="(min-width: 1440px)"
                width="535"
                height="348" />
              <source
                srcset="./img/gallery/gallery-img2-mob.png"
                width="343"
                height="368" />
              <img
                class="gallery-img"
                src="./img/gallery/gallery-img2-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="368"
                loading="lazy"
            /></picture>
          </li>
          <li class="gallery-slide">
            <picture>
              <source
                srcset="./img/gallery/gallery-img3-desk.png"
                media="(min-width: 1440px)"
                width="535"
                height="348" />
              <source
                srcset="./img/gallery/gallery-img3-mob.png"
                width="343"
                height="368" />
              <img
                class="gallery-img"
                src="./img/gallery/gallery-img3-mob.png"
                alt="Screenshot of the game"
                width="343"
                height="368"
                loading="lazy"
            /></picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
