<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">[Core Mechanics]</h2>
          <p class="section-subtitle gameplay-subtitle">
            Plan Like an Engineer
          </p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle-wrapper">
                <div class="gameplay-item-circle"></div>
              </div>
              <div class="gameplay-item-text-wrapper">
                <p class="gameplay-item-title">Real-Time Feedback</p>
                <p class="gameplay-item-text">
                  See instant results as the system reacts to every change.
                </p>
              </div>
            </li>
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle-wrapper">
                <div class="gameplay-item-circle"></div>
              </div>
              <div class="gameplay-item-text-wrapper">
                <p class="gameplay-item-title">Interconnected Systems</p>
                <p class="gameplay-item-text">
                  Small adjustments can affect the whole network.
                </p>
              </div>
            </li>
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle-wrapper">
                <div class="gameplay-item-circle"></div>
              </div>
              <div class="gameplay-item-text-wrapper">
                <p class="gameplay-item-title">Plan, Don’t Rush</p>
                <p class="gameplay-item-text">
                  No timers — success comes from planning and foresight.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="530" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="375"
            height="530" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="530"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
