<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title hero-top-main-title">Every signal</h1>
        <h1 class="hero-main-title hero-bottom-main-title">tells a story</h1>
        <p class="hero-subtitle">
          Design systems that balance flow, stability, and control.
        </p>
      </div>
      <div class="hero-side-text-wrapper">
        <p class="hero-side-text">Signals</p>
        <p class="hero-side-text">Networks</p>
        <p class="hero-side-text">Systems</p>
      </div>
    </div>
  </div>
</section>
