<section class="section interaction-section" id="interaction">
  <div class="interaction-bg-wrapper">
    <div class="container interaction-container">
      <div class="interaction-content-wrapper">
        <div class="interaction-text-wrapper">
          <h2 class="section-title interaction-title">[Player Interaction]</h2>
          <p class="section-subtitle interaction-subtitle">
            Manage the Network
          </p>
          <p class="interaction-text">
            In Signal Foundry, players don’t just solve tasks — they build and
            manage a living network. It’s important to watch how energy flows,
            identify weak points, and optimize the system.
          </p>
          <p class="interaction-list-text">Players can:</p>
          <ul class="interaction-list">
            <li class="interaction-list-item">
              <p class="interaction-item-text">
                connect and reroute signals to ensure energy flows correctly,
              </p>
            </li>
            <li class="interaction-list-item">
              <p class="interaction-item-text">
                balance loads between nodes and prevent overloads,
              </p>
            </li>
            <li class="interaction-list-item">
              <p class="interaction-item-text">
                use stabilizers to smooth out signal flow.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/interaction/interaction-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="530" />
          <source
            srcset="./img/interaction/interaction-img-mob.png"
            width="375"
            height="530" />
          <img
            class="interaction-img"
            src="./img/interaction/interaction-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="530"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
