<div class="context-menu">
  <div class="container context-container">
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about">Overview</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#system">The System</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#interaction"
            >Player Interaction</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay"
            >Core Mechanics</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gallery"
            >Visual Language</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
