<section class="section system-section" id="system">
  <div class="system-bg-wrapper">
    <div class="container system-container">
      <div class="system-content-wrapper">
        <h2 class="section-title system-title">[The System]</h2>
        <p class="section-subtitle system-subtitle">
          Each element affects how energy moves through the network.
        </p>
        <p class="system-text">
          Small changes can ripple across the entire system. Everything's
          connected, so when you change one thing, it affects everything else.
        </p>
        <ul class="system-list">
          <li class="system-list-item">
            <img
              class="system-img1"
              src="./img/system/system-img1.png"
              alt="Screenshot of the game"
              width="304"
              height="156"
              loading="lazy"
            />
          </li>
          <li class="system-list-item">
            <img
              class="system-img1"
              src="./img/system/system-img2.png"
              alt="Screenshot of the game"
              width="304"
              height="156"
              loading="lazy"
            />
          </li>
          <li class="system-list-item">
            <img
              class="system-img1"
              src="./img/system/system-img3.png"
              alt="Screenshot of the game"
              width="304"
              height="156"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
